{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
        <p class="lead fw-bold">We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.</p>
        <a class="btn" href="{% url 'home' %}">Back home</a>
    </div>
</div>
{% endblock %}