{% extends 'base.html' %}

{% block content %}

<div class="container-fluid py-5 mb-5">

    <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto lh-lg">
            
        <h2>Credits:</h2>
        <p class="mt-2 mb-4">
            This API is made and manteined by
            <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/hitzseb" target="_blank">
                Sebastian Hitz.
            </a>
        </p>

        <h2>Tech:</h2>
        <p class="mt-2 mb-4">
            This project is fully developed with Python and Django. It's open source and you can find the code
            <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/hitzseb/chainsaw_man_api" target="_blank">
                here.
            </a>
        </p>

        <h2>Source:</h2>
        <p class="mt-2 mb-4">
            All the data in this API is taken from the
            <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://chainsaw-man.fandom.com/wiki/Chainsaw_Man_Wiki" target="_blank">
                Chainsaw Man Wiki.
            </a>
        </p>

    </div>
    
</div>

{% endblock %}