{% extends 'base.html' %}

{% block content %}

<div class="container-fluid py-5 mb-5">

    <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto lh-lg">
        
        <p class="mt-2 mb-4">

            This API is made and maintained by
            <a class="link-secondary text-decoration-none" href="https://github.com/hitzseb" target="_blank">
                {{my_name}}.
            </a>

            The project was developed entirely using Django. It's open source under MIT license. You can find the code
            <a class="link-secondary text-decoration-none" href="https://github.com/hitzseb/chainsaw_man_api" target="_blank">
                here.
            </a>

            All the data in this is taken from the
            <a class="link-secondary text-decoration-none" href="https://chainsaw-man.fandom.com/wiki/Chainsaw_Man_Wiki" target="_blank">
                Chainsaw Man Wiki.
            </a>

        </p>

    </div>
    
</div>

{% endblock %}