{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
            
            <div class="my-4">
                <h2>Source:</h2>
                <p class="my-4">
                    All the data in this API is taken from the
                    <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://chainsaw-man.fandom.com/wiki/Chainsaw_Man_Wiki" target="_blank">
                        Chainsaw Man Wiki
                    </a>
                </p>
            </div>
            
            <div class="my-4">
                <h2>Credits:</h2>
                <p class="my-4">
                    This API is made by
                    <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/hitzseb" target="_blank">
                        Sebastian Hitz
                    </a>
                </p>
            </div>

        </div>

    </div>
    
</div>

{% endblock %}