<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Chainsaw Man API</title>
</head>

<body class="bg-warning-subtle">

    <!-- Navbar -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-warning fs-2" href="{% url 'home' %}" style="font-family: fantasy">Chainsaw Man API</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav font-monospace fs-4 ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'api_docs' %}">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'credits' %}">Credits</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main -->

    <div class="container-fluid">

        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 col-auto mx-auto">

            <div class="font-monospace p-4">

                {% block content %}
                {% endblock %}

                <div class="border-top border-warning mt-4 pt-4">
                    <p class="text-center fs-4">© Chainsaw Man API</p>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>