<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chainsaw Man API</title>
  {% load static %}
  <link rel="icon" href="{% static 'img/icon.webp' %}" type="image/x-icon">
  <link href="https://bootswatch.com/5/united/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-primary bg-primary py-4" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand text-warning fs-4 fw-bold ps-3" href="{% url 'home' %}">Chainsaw Man API</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasNavbar2"
        aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-warning fs-4 fw-bold" id="offcanvasNavbar2Label">Chainsaw Man API</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {% if user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'saga_list' %}">Saga</a></li>
                <li><a class="dropdown-item" href="{% url 'arc_list' %}">Arc</a></li>
                <li><a class="dropdown-item" href="{% url 'volume_list' %}">Volume</a></li>
                <li><a class="dropdown-item" href="{% url 'manga_list' %}">Manga</a></li>
                <li><a class="dropdown-item" href="{% url 'season_list' %}">Season</a></li>
                <li><a class="dropdown-item" href="{% url 'anime_list' %}">Anime</a></li>
                <li><a class="dropdown-item" href="{% url 'species_list' %}">Species</a></li>
                <li><a class="dropdown-item" href="{% url 'character_list' %}">Character</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'docs' %}">Docs</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <div class="container py-4">
    <footer>
      <ul class="nav justify-content-center border-bottom border-secondary pb-3 mb-3">
        <li class="nav-item">
          <a href="{{SERVER}}/api/character/" class="nav-link px-2" target="_blank">Characters</a>
        </li>
        <li class="nav-item">
          <a href="{{SERVER}}/api/manga/" class="nav-link px-2" target="_blank">Manga</a>
        </li>
        <li class="nav-item">
          <a href="{{SERVER}}/api/anime/" class="nav-link px-2" target="_blank">Anime</a>
        </li>
      </ul>
      <p class="text-center text-secondary fs-5">© Chainsaw Man API</p>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>