{% extends "base.html" %}

{% block content %}

<div class="my-4">
    <h2 class="fs-3 my-4">Data source:</h2>
    <p class="fs-5 my-4">
        All the data in this API is taken from the
        <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ data_source.url }}" target="_blank">
            {{ data_source.name }}
        </a>
    </p>
</div>

<div class="my-4">
    <h2 class="fs-3 my-4">API author:</h2>
    <p class="fs-5 my-4">
        This API is made by
        <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ author.url }}" target="_blank">
            {{ author.name }}
        </a>
    </p>
</div>

{% endblock %}