{% extends "base.html" %}

{% block content %}

<img src="https://static.wikia.nocookie.net/chainsaw-man/images/e/ea/Principal.png/revision/latest/scale-to-width-down/600?cb=20190512232237&path-prefix=es"
    class="img-fluid" alt="Chainsaw Man">

<h3 class="display-4 my-4">Chainsaw Man API</h3>
<p class="text-justify my-4">Chainsaw Man API provides access to detailed information about the manga 'Chainsaw Man'. This API allows making GET requests from any server without the need for credentials, facilitating access to data related to the manga, characters, and more.</p>


{% endblock %}