<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Chainsaw Man API</title>
</head>

<body>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="#">Chainsaw Man API</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'schema-swagger-ui' %}" target="_blank">Swagger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main -->

    <div class="container-fluid bg-warning-subtle">

        <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 col-auto mx-auto">

            <div class="font-monospace p-4">

                <!-- Header -->

                <img src="https://static.wikia.nocookie.net/chainsaw-man/images/e/ea/Principal.png/revision/latest/scale-to-width-down/600?cb=20190512232237&path-prefix=es"
                    class="img-fluid" alt="Chainsaw Man">

                <div class="border-bottom border-warning">
                    <h3 class="display-4 my-4">Chainsaw Man API</h3>
                    <p class="text-justify my-4">La API de Chainsaw Man proporciona acceso a información detallada sobre el manga "Chainsaw Man". Esta API permite realizar solicitudes GET desde cualquier servidor sin necesidad de credenciales, facilitando el acceso a datos relacionados con el manga, personajes, y más.</p>
                </div>

                <!-- Endpoints -->

                <div class="my-4 border-bottom border-warning">
                    <h2 class="fs-3 my-4">Endpoints disponibles:</h2>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/saga</span>
                        <span class="text-muted">: listado completo de las sagas.</span>
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/arc</span>
                        <span class="text-muted">: listado completo de los arcos.</span>
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/volume</span>
                        <span class="text-muted">: listado completo de los volúmenes.</span>
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/manga</span>
                        <span class="text-muted">: listado completo de los manga. Sólo su número, título y
                            portada.</span>
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/manga/detail/number</span>
                        <span class="text-muted">: detalles del manga con el atributo 'number'.</span>
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/character</span>
                        <span class="text-muted">: listado completo de los personajes. Sólo su nombre y retrato.</span>
                    </p>
                    <p class="fs-5">
                        <span class="fw-bold me-1">{{server_url}}api/character/detail/name</span>
                        <span class="text-muted">: detalles del personaje con el atributo 'name'.</span>
                    </p>
                </div>

                <!-- Footer -->

                <div class="my-4">
                    <p class="text-center fs-4">© Chainsaw Man API</p>
                </div>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>