{% extends 'base.html' %}

{% block content %}

<div class="container py-5 mb-5">
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">

    <h2>Manga List</h2>

    <ul class="list-group my-4">
      {% for manga in manga_list %}
      <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none fw-bold" href="{% url 'manga_update' pk=manga.pk %}">
          {{ manga.number }}-{{ manga.title }}
        </a>
        <a class="text-decoration-none text-danger float-end" href="{% url 'manga_delete' pk=manga.pk %}">
          Eliminar
        </a>
      </li>
      {% endfor %}
    </ul>

    <a class="btn btn-primary mt-3" href="{% url 'manga_create' %}">Add Manga</a>
    
  </div>
</div>

{% endblock %}