{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">

    <h2>Arc List</h2>
    <ul class="list-group">
      {% for arc in arc_list %}
      <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none" href="{% url 'arc_update' pk=arc.pk %}">
          {{ arc.number }}-{{ arc.title }}
        </a>
        <a class="text-decoration-none text-danger float-end" href="{% url 'arc_delete' pk=arc.pk %}">
          Eliminar
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="btn" href="{% url 'arc_create' %}">Add Arc</a>
    
  </div>
</div>

{% endblock %}