{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
  <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 col-auto mx-auto">

    <h2>Arc List</h2>
    <ul class="list-group">
      {% for arc in arc_list %}
      <a class="text-decoration-none" href="{% url 'arc_update' number=arc.number %}">
        <li class="list-group-item list-group-item-action">
          {{ arc.number }}-{{ arc.title }}
        </li>
      </a>
      {% endfor %}
    </ul>
    <a class="btn" href="{% url 'arc_create' %}">Add Arc</a>
    
  </div>
</div>

{% endblock %}