{% extends 'base.html' %}

{% block content %}

<div class="container py-5 mb-5">
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">

    <h2>Character List</h2>

    <ul class="list-group my-4">
      {% for character in character_list %}
      <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none fw-bold" href="{% url 'character_update' pk=character.pk %}">
          {{ character.name }}
        </a>
        <a class="text-decoration-none text-danger float-end" href="{% url 'character_delete' pk=character.pk %}">
          Delete
        </a>
      </li>
      {% endfor %}
    </ul>

    <a class="btn btn-primary mt-3" href="{% url 'character_create' %}">Add Character</a>
    
  </div>
</div>

{% endblock %}