{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">

    <h2>Season List</h2>
    <ul class="list-group">
      {% for season in season_list %}
      <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none" href="{% url 'season_update' pk=season.pk %}">
          Season {{ season.number }}
        </a>
        <a class="text-decoration-none text-danger float-end" href="{% url 'season_delete' pk=season.pk %}">
          Eliminar
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="btn" href="{% url 'season_create' %}">Add Season</a>
    
  </div>
</div>

{% endblock %}