{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
  <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-4 col-auto mx-auto">

    <h2>Character List</h2>
    <ul class="list-group">
      {% for character in character_list %}
      <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none" href="{% url 'character_update' pk=character.pk %}">
          {{ character.name }}
        </a>
        <a class="text-decoration-none text-danger float-end" href="{% url 'character_delete' pk=character.pk %}">
          Eliminar
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="btn" href="{% url 'character_create' %}">Add Character</a>
    
  </div>
</div>

{% endblock %}