{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">

    <h2>Volume List</h2>

    <ul class="list-group">
      {% for volume in volume_list %}
      <li class="list-group-item list-group-item-action bg-body-tertiary">
        <a class="text-decoration-none link-dark fw-bold" href="{% url 'volume_update' pk=volume.pk %}">
          {{ volume.number }}-{{ volume.title }}
        </a>
        <a class="text-decoration-none text-danger float-end" href="{% url 'volume_delete' pk=volume.pk %}">
          Eliminar
        </a>
      </li>
      {% endfor %}
    </ul>

    <a class="btn btn-outline-dark mt-3" href="{% url 'volume_create' %}">Add Volume</a>
    
  </div>
</div>

{% endblock %}